<h1><%= @club.name %></h1>
<!-- Check whether club has been joined -->
<% if current_user.clubs.include?(@club) %>
	<p>
		<em>Joined</em>
	</p>
<!-- Link to join button if not joined -->
<% else %>
	<p><%= link_to "Join", @club, :method => :join %></p>
<% end %>
<!-- Club details -->
<p><%= @club.description %></p>
<p>President: <%= @club.president %><br/>
Email: <%= @club.email %></p>
<!-- Events belonging to club -->
<h3>Events</h3></br>
<%= link_to "New Event", new_event_path %>
<p>
	<% @club.events.each do |event| %>
		<%= link_to event.name, event %></br>
	<% end %> 
</p>
<br/>
<br/>
<!-- Links -->
<p><%= link_to "Back to My Clubs", clubs_my_path %> </br> <%= link_to "Back to All Clubs", clubs_path %></p>