<h1><%= @club.name %></h1>
<p><%= @club.description %></p>
<p>President: <%= @club.president %><br/>
Email: <%= @club.email %></p>
<br/>
<br/>
<p><%= link_to "Back to My Clubs", clubs_my_path %> <%= link_to "Back to All Clubs", clubs_index_path %></p>