<h1><%= @club.name %></h1>
<!-- Check whether club has been joined -->
<% if current_user.clubs.include?(@club) %>
	<p>
		<em>You have admin privileges for this club</em><br/>
		<%= link_to "Grant other users admin privileges for this club", users_path(:id => @club.id) %>
	</p>
<% end %>
<!-- Club details -->
<p><%= @club.description %></p>
<p>President: <%= @club.president %><br/>
Email: <%= @club.email %></p>
<% if current_user.clubs.include?(@club) %>
  <%= link_to "Edit Details", edit_club_path%><br/>
<% end %>
<!-- Events belonging to club -->
<h3>Events</h3></br>
<% if current_user.clubs.include?(@club) %>
  <%= link_to "New Event", new_event_path %>
<% end %>
<p>
	<% @club.events.each do |event| %>
		<%= link_to event.name, event %></br>
	<% end %> 
</p>
<br/>
<br/>
<!-- Links -->
<p><%= link_to "Back to My Clubs", clubs_my_path %> </br> <%= link_to "Back to All Clubs", clubs_path %></p>