<h1>My Home</h1>
<%= link_to "Log Out", destroy_user_session_path, :method => :delete %></br>
<%= link_to "All Clubs", clubs_index_path %></br>
<%= link_to "My Clubs", clubs_my_path %></br>
<%= link_to "All Events", events_index_path %></br>
<%= link_to "My Events", events_my_path %></br>